body{
    background-color: rgb(244, 151, 244);
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: purple;
    font-size: 30px;
    text-align: center;
}